* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    font-size: 16px;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    html {
        font-size: 16px;
    }
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, rgb(70, 48, 70), rgb(28, 25, 29));
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    min-width: 500px;
    color: #fafcff;
}

@media only screen and (max-width: 480px) {
    html {
        font-size: 14px;
    }
}
/*This is a test comment*/
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px; 
    height: 100%;
    background-color: rgb(255, 156, 173);
    position: relative;
    margin: 0 auto;
    overflow-y: hidden; 
    flex-shrink: 0; 
}

.flip-card {
    box-shadow: 20px 10px 150px 0 rgba(255, 249, 252, 0.15);
}

.custom-shape-divider-bottom-1756295647 {
    bottom: 0;
    left: 0;
    margin-top: 100px;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    align-self: center;
}

.custom-shape-divider-bottom-1756295647 svg {
    position: relative;
    display: block;
    width: calc(284% + 1.3px);
    height: 100px;
    align-self: center;
}

.custom-shape-divider-bottom-1756295647 .shape-fill {
    fill: #262727;
}

.profile-img {
    width: 30vw;
    max-width: 150px;
    min-width: 80px;
    height: 30vw;
    max-height: 150px;
    min-height: 80px;
    border-radius: 50%;
    background-color: gray;
    background-size: cover;
    background-position: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 100px; 
    z-index: 2;
    border: 10px solid #262727;
}


.container {
    width: 100%;
    max-width: 500px;
    min-width: 0;
    height: 80dvh;
    background-color: #262727;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (max-width: 320px) {
    .main-container, .container {
        max-width: 100%;
        width: 100%;
    }
    .container {
        height: 60dvh;
        padding-bottom: 0px !important;
    }
    .profile-img {
        width: 100px;
        height: 100px;
        top: 70px;
        border: 6px solid #262727;
    }
    .bio-section p {
        font-size: 1.2rem !important;
        padding: 0 10px;
    }
    .socials-section {
        gap: 6px;
        margin: 30px 0 10px 0 !important;
    }
    .socials-section div {
        width: 35px;
        height: 35px;
    }
    .button-section {
        bottom: 25px;
    }
    .custom-shape-divider-bottom-1756295647 svg {
        height: 60px;
    }
    .custom-shape-divider-bottom-1756295647 {
        margin-top: 70px;
    }
}

@media only screen and (min-width: 321px) and (max-width: 375px) {
    .main-container, .container {
        max-width: 100%;
        width: 100%;
    }
    .profile-img {
        width: 110px;
        height: 110px;
        top: 70px;
        border: 7px solid #262727;
    }
    .bio-section p {
        font-size: 0.95rem;
        padding: 0 12px;
    }
    .socials-section {
        gap: 7px;
        margin: 60px 0 45px 0;
    }
    .socials-section div {
        width: 38px;
        height: 38px;
    }
    .button-section {
        bottom: 28px;
    }
    .custom-shape-divider-bottom-1756295647 svg {
        height: 70px;
    }
    .custom-shape-divider-bottom-1756295647 {
        margin-top: 70px;
    }
}

@media only screen and (min-width: 376px) and (max-width: 480px) {
    .main-container, .container {
        max-width: 100%;
        width: 100%;
    }
    .profile-img {
        width: 120px;
        height: 120px;
        top: 80px;
        border: 8px solid #262727;
    }
    .bio-section p {
        font-size: 1rem;
        padding: 0 15px;
    }
    .socials-section {
        gap: 8px;
        margin: 70px 0 50px 0;
    }
    .socials-section div {
        width: 40px;
        height: 40px;
    }
    .button-section {
        bottom: 30px;
    }
    .custom-shape-divider-bottom-1756295647 svg {
        height: 80px;
    }
    .custom-shape-divider-bottom-1756295647 {
        margin-top: 80px;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    .profile-img {
        width: 140px;
        height: 140px;
        top: 50px;
        border: 9px solid #262727;
    }
    .bio-section p {
        font-size: 1.1rem !important;
        padding: 0 20px;
    }
    .socials-section {
        gap: 10px;
        margin: 80px 0 60px 0;
    }
    .socials-section div {
        width: 45px;
        height: 45px;
    }
    .button-section {
        bottom: 35px;
    }
    .custom-shape-divider-bottom-1756295647 svg {
        height: 90px;
    }
    .custom-shape-divider-bottom-1756295647 {
        margin-top: 60px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .main-container, .container {
        max-width: 500px;
        width: 80%;
    }
    .profile-img {
        width: 150px;
        height: 150px;
        top: 60px;
        border: 10px solid #262727;
    }
    .bio-section p {
        font-size: 1.2rem !important;
        padding: 0 25px;
    }
    .socials-section {
        gap: 12px;
        margin: 90px 0 70px 0;
    }
    .socials-section div {
        width: 50px;
        height: 50px;
    }
    .button-section {
        bottom: 40px;
    }
    .custom-shape-divider-bottom-1756295647 svg {
        height: 100px;
    }
    .custom-shape-divider-bottom-1756295647 {
        margin-top: 80px;
    }
}

@media only screen and (min-width: 1025px) {
    .main-container, .container {
        max-width: 600px;
        width: 100%;
    }
    .profile-img {
        top: 100px;
    }
    .bio-section p {
        font-size: 1.55rem;
    }
}

.container {
    width: 100%;
    max-width: 500px;
    min-width: 0;
    height: 100%;
    background-color: #262727;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 80px;
}

.profile-section {
    margin: 90px 0 40px 0 ;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bio-section {
    position: relative;
    flex-direction: column;
    align-items: center;
}

.bio-section p {
    text-align: center;
    padding: 0 20px;
}

.flip-card {
    perspective: 1000px;
    width: 500px;
    height: 100vh;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    flex-shrink: 0; 
}
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

@media only screen and (max-width: 480px) {
    .flip-card {
        max-width: 100%;
    }
}
.flip-card.flipped .flip-card-inner {
    transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.flip-card-back {
    background: #262727;
    color: #fafcff;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.socials-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin: 90px 0 70px 0;
}

.socials-section div {
    background-color: #fafcff;
    border: 1px;
    padding: 4px;
    border-radius: 15px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 4px 16px 0 rgba(255, 255, 255, 0.3);
}

.socials-section div:hover {
    box-shadow: 4px 8px 24px 0 rgba(255, 255, 255, 0.6);
    transform: translateY(-4px) scale(1.08);
    transition: box-shadow 0.5s, transform 0.2s, background-color 0.2s;
}

.socials-section div img {
    transition: filter 0.2s ease-in-out;
}

.socials-section div:hover img {
    filter: brightness(1.2) saturate(1.2);
}

.instagram-icon:hover {
    background-color: #ffaab9; 
}
.linkedin-icon:hover {
    background-color: hsl(201, 100%, 66%); 
}
.github-icon:hover {
    background-color: #d7ffb2; 
}
.facebook-icon:hover {
    background-color: #95c3ff; 
}
.discord-icon:hover {
    background-color: #98a1ff; 
}


button {
    box-shadow: 2px 4px 16px 0 rgba(255, 255, 255, 0.25);
    background-color: #fafcff; 
    border: 1px;
    border-radius: 10px; 
    padding: 10px 20px; 
    cursor: pointer; 
    transition: background-color 0.3s ease-in-out, box-shadow 0.2s, transform 0.2s;
    width: 100px;
    font-weight: bold;
    color: #262727
}

button:hover {
    background-color: #ffaab9; 
    box-shadow: 2px 4px 16px 0 rgba(255, 255, 255, 0.5);
    transform: translateY(-2px);
}

.bio-section p {
    font-size: 1.25rem;
}

.backside-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.backside-container p {
    font-size: 1.2rem;
    text-align: center;
    padding: 0 20px;
}

.button-section {
    position: absolute;
    bottom: 40px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 480px) {
    .backside-container p {
        font-size: 1rem;
        padding: 0 15px;
    }
}

/* Landscape orientation for mobile devices */
@media only screen and (max-width: 896px) and (orientation: landscape) {
    .profile-img {
        width: 100px;
        height: 100px;
        top: 60px;
        border: 6px solid #262727;
    }
    
    .button-section {
        bottom: 25px;
    }
    
    .socials-section {
        margin: 50px 0 30px 0;
    }
    
    .custom-shape-divider-bottom-1756295647 svg {
        height: 60px;
    }
}

@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #171617;
    overflow: hidden;
}

.background span {
    width: 10vmin;
    height: 10vmin;
    border-radius: 10vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 13;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #b58c8c;
    top: 40%;
    left: 40%;
    animation-duration: 168s;
    animation-delay: -41s;
    transform-origin: -19vw -4vh;
    box-shadow: -20vmin 0 3.194268080916323vmin currentColor;
}
.background span:nth-child(1) {
    color: #8d83a0;
    top: 97%;
    left: 64%;
    animation-duration: 242s;
    animation-delay: -110s;
    transform-origin: 18vw -8vh;
    box-shadow: -20vmin 0 3.2671733268043566vmin currentColor;
}
.background span:nth-child(2) {
    color: #8d83a0;
    top: 79%;
    left: 75%;
    animation-duration: 47s;
    animation-delay: -357s;
    transform-origin: -5vw -11vh;
    box-shadow: -20vmin 0 2.650960208484807vmin currentColor;
}
.background span:nth-child(3) {
    color: #a07984;
    top: 25%;
    left: 19%;
    animation-duration: 82s;
    animation-delay: -77s;
    transform-origin: 13vw 20vh;
    box-shadow: -20vmin 0 3.001910789352368vmin currentColor;
}
.background span:nth-child(4) {
    color: #8d83a0;
    top: 71%;
    left: 3%;
    animation-duration: 346s;
    animation-delay: -265s;
    transform-origin: -3vw -9vh;
    box-shadow: -20vmin 0 2.553865813969471vmin currentColor;
}
